/*
    Reset â™¥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }
 
*, *:after, *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }
 
/* @FontFace
------------------------------------------------------- */
/*@font-face {
  font-family:'Open Sans';
    src:url('opensans-regular.eot');
    src:url('opensans-regular.eot?#iefix') format('embedded-opentype'),
        url('opensans-regular.woff') format('woff');
  font-weight:400;
  font-style:normal;
  }
 
@font-face {
  font-family:'Open Sans';
    src:url('opensans-italic.eot');
    src:url('opensans-italic.eot?#iefix') format('embedded-opentype'),
        url('opensans-italic.woff') format('woff');
  font-weight:400;
  font-style:italic;
  }
 
@font-face {
  font-family:'Open Sans';
    src:url('opensans-semibold.eot');
    src:url('opensans-semibold.eot?#iefix') format('embedded-opentype'),
        url('opensans-semibold.woff') format('woff');
  font-weight:bold;
  font-style:normal;
  }
 
@font-face {
  font-family:'Open Sans';
    src:url('opensans-semibolditalic.eot');
    src:url('opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
        url('opensans-semibolditalic.woff') format('woff');
  font-weight:bold;
  font-style:italic;
  }*/
 
/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color:rgba(0,0,0,0.75);
  font:15px/20px 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  }
 
body { background:#fff; }
 
.dark { color:#fff; }
 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  font-weight:normal;
  }
 
h1 {
  font-size:30px;
  line-height:40px;
  font-weight:bold;
  letter-spacing:-1px;
  }
h2 {
  font-size:20px;
  font-weight:bold;
  line-height:25px;
  }
 
h3 {
  font-size:15px;
  line-height:20px;
  font-weight:bold;
  }
 
h4, h5, h6 {
  font-size:12px;
  line-height:20px;
  font-weight:bold;
  }
 
.prose p:last-child,
p { margin-bottom:20px; }
 
p:last-child { margin-bottom:0; }
 
small,
.small,
.caption {
  font-size:12px;
  line-height:20px;
  letter-spacing:0;
  }
 
small { display:block; }
 
strong { font-weight:bold; }
 
/* Links */
a {
  color:#3887BE;
  text-decoration:none;
  }
  a:hover { color:#63b6e5; }
 
.dark a       { color:#63b6e5; }
.dark a:hover { color:#8fcaec; }
 
/* Buttons */
button,
.button,
input[type=button],
input[type=submit] {
  background-color:#3887be;
  text-align:center;
  color:#fff;
  display:inline-block;
  height:40px;
  margin:0px;
  padding:10px 20px;
  position:relative;
  border:none;
  cursor:pointer;
  font-weight:bold;
  border-radius:3px;
  white-space:nowrap;
  text-overflow:ellipsis;
  /* Protects button metrics in .prose context */
  line-height:20px;
  font-size:12px;
  -webkit-appearance:none;
 
  /* The button element needs to be forced this */
  -webkit-font-smoothing:antialiased;
  }
 
input[type=submit],
input[type=button] {
  min-width:100px;
  }
 
button:hover,
.button:hover,
.button.active,
.dark a.button,
.dark a.button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  color:#fff;
  }
 
button:hover,
.button:hover,
.button.active,
input[type=submit]:hover,
input[type=button]:hover {
  background-color:#3bb2d0;
  }
 
.button.loud {
  background-color:#8889cc;
  }
.button.loud.active,
.button.loud:hover {
  background-color:#bd93e5;
  }
 
.button.quiet {
  background-color:rgba(0,0,0,.25);
  color:white;
  text-shadow:rgba(0,0,0,0) 0px -1px;
  }
.button.quiet.active,
.button.quiet:hover {
  background-color:rgba(0,0,0,.5);
  box-shadow:
    inset rgba(0,0,0,0) 0 0 0,
    inset rgba(0,0,0,0) 0 0 0;
  }
 
.dark .button.quiet {
  background-color:rgba(255,255,255,.25);
  color:rgba(255,255,255,.5);
  }
 
.dark .button.quiet.active,
.dark .button.quiet:hover {
  background-color:rgba(255,255,255,.5);
  }
 
/* Pill wrapper for joining buttons. */
/* Use <!-- --> to eliminate whitespace between buttons. */
.pill {
  display:inline-block;
  }
  .pill .button {
    border-radius:0 0 0 0;
    border-left:1px solid white;
    }
    .pill .button:first-child {
      border-radius:3px 0 0 3px;
      border-left:none;
      }
    .pill .button:last-child {
      border-radius:0 3px 3px 0;
      margin-right:0;
      }
 
.fill-gray .pill .button,
.fill-grey .pill .button        { border-left-color:#eee; }
.fill-white .pill .button       { border-left-color:#fff; }
.fill-light .pill .button       { border-left-color:#f8f8f8; }
.fill-blue .pill .button        { border-left-color:#3887be; }
.fill-denim .pill .button       { border-left-color:#3c4e5a; }
.fill-navy .pill .button        { border-left-color:#28353d; }
.fill-navy-dark .pill .button   { border-left-color:#222B30; }
.fill-purple .pill .button      { border-left-color:#8a8acb; }
 
.fill-darken0 .pill .button,
.fill-darken1 .pill .button,
.fill-darken2 .pill .button,
.fill-darken3 .pill .button {
  border-left-color:#000;
  border-left-color:rgba(0,0,0,0.5);
  }
 
/* make your pills toggles */
.toggle a {
  width: 40px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}
 
.toggle .big.button.icon:not(.active) {
  padding-left: 0;
}
 
.toggle a.active {
  padding: 10px 20px;
  background: #3bb2d0;
  width: auto;
  color: #cdecf3;
  color: rgba(255,255,255,.75);
}
 
/* A tag link */
.tag {
  display:inline-block;
  text-transform:capitalize;
  color:rgba(0,0,0,0.75);
  -webkit-border-radius:0 0 3px 3px;
          border-radius:0 0 3px 3px;
  }
  .tag:hover { color:inherit; }
 
img {
  max-width:100%;
  vertical-align:middle;
  }
  img.center { margin-left:auto; margin-right:auto; }
 
abbr {
  border-bottom:1px dotted #000;
  cursor:help;
  }
 
address { font-style:italic;}
strong  { font-weight:bold;}
em      { font-style:italic;}
 
hr {
  margin:0 0 20px;
  border:0;
  height:1px;
  background:#f8f8f8;
  }
 
/* Block Quotes */
blockquote,
q {
  quotes:none;
  font-style:italic;
  padding-left:20px;
  margin:10px;
  }
 
blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  }
 
/* Code Blocks & Pre */
code,
pre {
  background:rgba(0,0,0,0.025);
  font-family:Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size:12px;
  line-height:20px;
  padding:3px;
  }
pre {
  background:#f8f8f8;
  color:rgba(0,0,0,0.75);
  display:block;
  padding:10px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  }
  pre code {
    background:transparent;
    padding:0;
    color:inherit;
    }
 
.pre-scrollable {
  max-height:300px;
  overflow-y:scroll;
  }
 
/* sub/superscripts */
sup,
sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  _vertical-align:bottom;
  position:relative;
  font-size:75%;
  }
sup {
  bottom:1ex;
  }
sub {
  top:.5ex;
  }
 
/* Forms */
 
form fieldset {
  margin: 0 0 20px;
  }
form fieldset:last-child {
  margin-bottom: 0;
}
 
form fieldset label {
  display: block;
  font-weight: bold;
  margin:0 0 10px;
  }
 
.dark label {
  color:#f0f0f0;
  color:rgba(255,255,255,0.75);
  }
 
input,
select,
button {
  vertical-align:middle;
  }
textarea,
input[type=password],
input[type=text] {
  display:inline-block;
  height:40px;
  margin:0;
  color:rgba(0,0,0,.5);
  padding:10px;
  border-radius:0;
  }
textarea,
input[type=password],
input[type=text] {
  background-color:#fff;
  border:1px solid rgba(0,0,0,0.1);
  -webkit-transition:border-color .1s;
     -moz-transition:border-color .1s;
       -o-transition:border-color .1s;
          transition:border-color .1s;
  }
  .dark textarea,
  .dark input[type=password],
  .dark input[type=text] {
    background:#404040;
    background:rgba(0,0,0,0.25);
    border-color:#eee;
    border-color:rgba(255,255,255,0.25);
    color:#fff;
    -webkit-box-shadow:none;
            box-shadow:none;
    }
  textarea:focus,
  input[type=password]:focus,
  input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    border-color:rgba(0,0,0,0.25);
    color:#404040;
    }
    .dark textarea:focus,
    .dark input[type=password]:focus,
    .dark input[type=text]:focus {
      border-color:rgba(255,255,255,0.75);
      color:#fff;
      }
 
textarea.stretch,
input.stretch[type='text'],
input.stretch[type='password'] { width:100%; }
 
/* Special Form Components */
fieldset.search {
  position:relative;
  }
  fieldset.search input[type=text] {
    padding-left:35px;
    }
  fieldset.search .icon {
    position:absolute;
    top:10px;
    left:10px;
    }
 
textarea {
  height:80px;
  max-width:none;
  resize:none;
  }
  textarea.resize { resize:both; }
 
input[type=range],
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance:none;
  margin:0; padding:0; border:0;
  }
input[type=range] {
  display:inline-block!important;
  vertical-align:middle;
  height:12px;
  padding:0 2px;
  border:2px solid transparent;
  background:rgba(0,0,0,0.25);
  min-width:100px;
  overflow:hidden;
  cursor:pointer;
  }
input[type=range]::-webkit-slider-thumb {
  background:rgba(255,255,255,0.75);
  height:12px; width:20px;
  border-radius:3px;
  cursor:ew-resize;
  box-shadow:rgba(255,255,255,0.25) -1200px 0 0 1200px;
  }
 
/* Tables */
 
table {
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:20px;
  }
  table th,
  table td {
    padding:4px 0;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #ddd;
    }
  table th {
    font-weight:bold;
    }
  table thead th {
    vertical-align:bottom;
    }
 
table.fixed {
  table-layout:fixed;
  }
 
/* Inline Elements: Formatted for read content
------------------------------------------------------- */
.prose { font:15px/25px 'Open Sans', sans-serif; }
.prose section { margin-bottom:20px; }
 
.title,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose ul,
.prose ol,
.prose img,
.prose blockquote,
.prose pre,
.prose iframe,
.prose object {
  display:block;
  margin-bottom:20px;
  word-wrap:break-word;
  }
 
.prose blockquote {
  padding:0 0 0 20px;
  border-left: 10px solid #E9EBEC;
  }
  .prose blockquote em { font-style:normal; }
 
.prose video,
.prose iframe,
.prose img {
  max-width:100%;
  margin-right:auto;
  margin-left:auto;
  }
 
.prose table {
  border:1px solid #ddd;
  }
.prose table th,
.prose table td {
  padding:8px;
  border:1px solid #ddd;
  }
.prose table th {
  background-color:#f8f8f8;
  }
 
.prose ul {
  list-style:disc;
  margin-left:40px;
  }
.prose ol {
  list-style:decimal;
  margin-left:40px;
  }
.prose ul li,
.prose ol li {
  margin-bottom:10px;
  }
.prose li > * {
  margin-top:10px;
  }
.prose pre,
.prose code {
  border-radius:3px;
  }
 
/* Dark read content styling */
.dark .prose h1,
.dark .prose h2,
.dark .prose h3 {
  color:#fff;
  }
.dark .prose p {
  color:#ddd;
  color:rgba(255,255,255,0.75);
  }
 
h1.small,
h2.small,
h3.small,
h4.small,
h5.small,
h6.small {
  text-transform:uppercase;
  }
 
/* Inline Elements: Doc Styling
------------------------------------------------------- */
.doc h1[id],
.doc h2[id],
.doc h3[id],
.doc h4[id] {
  cursor:pointer;
  }
 
.doc h1[id]:before,
.doc h2[id]:before,
.doc h3[id]:before,
.doc h4[id]:before {
  background:transparent url(img/icon-808080.png) -1440px 0px no-repeat;
  content:'Permalink';
  display:inline-block;
  margin:0 5px 0 -25px;
  width:20px;
  height:20px;
  line-height:20px;
  vertical-align:baseline;
  opacity:0.2;
  border-radius:50%;
  text-indent:-9999px;
  overflow:hidden;
  }
  .doc h1[id]:hover:before,
  .doc h2[id]:hover:before,
  .doc h3[id]:hover:before,
  .doc h4[id]:hover:before { opacity:1; }
 
/* Icons
------------------------------------------------------- */
.rcon:after,
.icon:before {
  background-image:url(img/icon-808080.png);
  background-color:transparent;
  background-repeat:no-repeat;
  background-position:40px 40px;
  content:'';
  display:inline-block;
  width:20px;
  height:20px;
  vertical-align:top;
  }
 
.rcon.big:after,
.icon.big:before {
  width:40px;
  height:40px;
  }
 
.icon.big           { line-height:40px; }
.icon:before        { margin-right:5px; }
.icon:empty:before  { margin:0; }
.button.icon:empty  { width:40px; padding:10px; }
 
.big.button.icon {
  line-height: 40px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  }
  .big.button.icon:empty { width:40px; padding:0; }
 
.dark .quiet.rcon:after,
.dark .quiet.icon:before,
.dark .quiet .rcon:after,
.dark .quiet .icon:before {
  opacity: .5;
  }
 
.dark .rcon:after,
.dark .icon:before,
.button.rcon:after,
.button.icon:before { background-image:url(img/icon-ffffff.png); }
 
a.icon:not(.button):before,
a.rcon:not(.button):after { background-image:url(img/icon-3887be.png); }
 
/* 40x40 icons */
.big.icon.edit:before                    { background-position: -0px -20px; }
.big.icon.close:before                   { background-position: -40px -20px; }
.big.icon.add:before,
.big.icon.plus:before                    { background-position: -80px -20px; }
.big.icon.minus:before                   { background-position: -120px -20px; }
.big.icon.admin:before                   { background-position: -160px -20px; }
.big.icon.account:before                 { background-position: -280px -20px; }
.big.icon.stats:before,
.big.icon.statistics:before              { background-position: -320px -20px; }
.big.icon.library:before                 { background-position: -400px -20px; }
.big.icon.tileset:before                  { background-position: -440px -20px; }
.big.icon.lock:before                    { background-position: -560px -20px; }
.big.icon.sun:before                     { background-position: -600px -20px; }
.big.icon.markers:before                 { background-position: -800px -20px; }
.big.icon.check:before                   { background-position: -840px -20px; }
.big.icon.tooltip:before                 { background-position: -920px -20px; }
.big.icon.mt:before                      { background-position: -1000px -20px; }
.big.icon.help:before                    { background-position: -1040px -20px; }
.big.icon.prev:before                    { background-position: -1160px -20px; }
.big.icon.next:before                    { background-position: -1200px -20px; }
.big.icon.twitter:before                 { background-position: -1280px -20px; }
.big.icon.contact:before                 { background-position: -1360px -20px; }
.big.icon.search:before                  { background-position: -1400px -20px; }
.big.icon.streets:before                 { background-position: -1680px -20px; }
.big.icon.satellite:before               { background-position: -1720px -20px; }
.big.icon.share:before                   { background-position: -1840px -20px; }
.big.icon.text:before                    { background-position: -2000px -20px; }
.big.icon.dev:before                     { background-position: -2040px -20px; }
.big.icon.mapbox:before                  { background-position: -2080px -20px; }
.big.icon.route:before                   { background-position: -2120px -20px; }
.big.icon.phone:before                   { background-position: -2160px -20px; }
.big.icon.bolt:before                    { background-position: -2200px -20px; }
.big.icon.robot:before                   { background-position: -2240px -20px; }
.big.icon.feed:before                    { background-position: -2280px -20px; }
.big.icon.picture:before                 { background-position: -2320px -20px; }
.big.icon.down:before                    { background-position: -2360px -20px; }
.big.icon.corner:before                  { background-position: -2400px -20px; }
.big.icon.floppy:before                  { background-position: -2440px -20px; }
.big.icon.dashboard:before               { background-position: -2480px -20px; }
.big.icon.pin:before                     { background-position: -2560px -20px; }
.big.icon.cart:before                    { background-position: -2640px -20px; }
 
/* 20x20 icons */
.rcon.edit:after, .icon.edit:before                 { background-position:0px 0px; }
.rcon.close:after, .icon.close:before               { background-position:-40px 0px; }
.rcon.plus:after, .icon.plus:before,
.rcon.add:after, .icon.add:before                   { background-position:-80px 0px; }
.rcon.minus:after, .icon.minus:before               { background-position:-120px 0px; }
.rcon.admin:after, .icon.admin:before               { background-position:-160px 0px; }
.rcon.info:after, .icon.info:before                 { background-position:-200px 0px; }
.rcon.download:after, .icon.download:before         { background-position:-240px 0px; }
.rcon.account:after, .icon.account:before           { background-position:-280px 0px; }
.rcon.stats:after, .icon.stats:before,
.rcon.statistics:after, .icon.statistics:before     { background-position:-320px 0px; }
.rcon.embed:after, .icon.embed:before               { background-position:-360px 0px; }
.rcon.library:after, .icon.library:before,
.rcon.layers:after, .icon.layers:before             { background-position:-400px 0px; }
.rcon.tileset:after, .icon.tileset:before           { background-position:-440px 0px; }
.rcon.upload:after, .icon.upload:before             { background-position:-480px 0px; }
.rcon.home:after, .icon.home:before                 { background-position:-520px 0px; }
.rcon.lock:after, .icon.lock:before                 { background-position:-560px 0px; }
.rcon.sun:after, .icon.sun:before                   { background-position:-600px 0px; }
.rcon.en:after, .icon.en:before                     { background-position:-640px 0px; }
.rcon.billing:after, .icon.billing:before           { background-position:-680px 0px; }
.rcon.star:after, .icon.star:before                 { background-position:-720px 0px; }
.rcon.tx:after, .icon.tx:before                     { background-position:-760px 0px; }
.rcon.markers:after, .icon.markers:before           { background-position:-800px 0px; }
 
.signup .save, /*Deprecate this*/
.icon.check:after, .icon.check:before               { background-position:-840px 0px; }
.rcon.purge:after, .icon.purge:before,
.rcon.delete:after, .icon.delete:before             { background-position:-880px 0px; }
.rcon.tooltip:after, .icon.tooltip:before           { background-position:-920px 0px; }
.rcon.style:after, .icon.style:before               { background-position:-960px 0px; }
.rcon.mt:after, .icon.mt:before                     { background-position:-1000px 0px; }
.rcon.help:after, .icon.help:before                 { background-position:-1040px 0px; }
.rcon.logout:after, .icon.logout:before             { background-position:-1080px 0px; }
.rcon.dropdown:after, .icon.dropdown:before         { background-position:-1120px 0px; }
.rcon.prev:after, .icon.prev:before                 { background-position:-1160px 0px; }
.rcon.next:after, .icon.next:before                 { background-position:-1200px 0px; }
.rcon.mail:after, .icon.mail:before                 { background-position:-1240px 0px; }
.rcon.twitter:after, .icon.twitter:before           { background-position:-1280px 0px; }
.rcon.return:after, .icon.return:before             { background-position:-1320px 0px; }
.rcon.contact:after, .icon.contact:before           { background-position:-1360px 0px; }
.rcon.search:after, .icon.search:before             { background-position:-1400px 0px; }
.rcon.link:after, .icon.link:before                 { background-position:-1440px 0px; }
.rcon.github:after, .icon.github:before             { background-position:-1480px 0px; }
.rcon.mobile:after, .icon.mobile:before             { background-position:-1520px 0px; }
.rcon.fullscreen:after, .icon.fullscreen:before     { background-position:-1560px 0px; }
.rcon.alert:after, .icon.alert:before               { background-position:-1600px 0px; }
.rcon.video:after, .icon.video:before               { background-position:-1640px 0px; }
.rcon.streets:after, .icon.streets:before           { background-position:-1680px 0px; }
.rcon.satellite:after, .icon.satellite:before       { background-position:-1720px 0px; }
.rcon.presets:after, .icon.presets:before           { background-position:-1760px 0px; }
.rcon.rss:after, .icon.rss:before                   { background-position:-1800px 0px; }
.rcon.share:after, .icon.share:before               { background-position:-1840px 0px; }
.rcon.clipboard:after, .icon.clipboard:before       { background-position:-1880px 0px; }
.rcon.time:after, .icon.time:before                 { background-position:-1920px 0px; }
.rcon.l-r-arrow:after, .icon.l-r-arrow:before       { background-position:-1960px 0px; }
.rcon.feed:after, .icon.feed:before                 { background-position:-2280px 0px; }
.rcon.floppy:after, .icon.floppy:before             { background-position:-2440px 0px; }
.rcon.dashboard:after, .icon.dashboard:before       { background-position:-2480px 0px; }
.rcon.double-arrow:after, .icon.double-arrow:before { background-position:-2520px 0px; }
.rcon.u-d-arrow:after, .icon.u-d-arrow:before       { background-position:-2600px 0px; }
.rcon.cart:after, .icon.cart:before                 { background-position:-2640px 0px; }
.rcon.cloud:after, .icon.cloud:before               { background-position:-2680px 0px; }
 
/* Multicolored icons */
.icon.checkmark:before     { background:transparent url(img/base.png) 0px 0px no-repeat; }
 
/* Components
------------------------------------------------------- */
.block {
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.10);
  }
  .block figure,
  .block .block-heading {
    border-bottom:1px solid rgba(0,0,0,0.25);
    }
  .block figure:last-child {
    border-bottom:none;
    }
 
.round {
  border-radius:3px;
  }
 
.round-top { border-radius:3px 3px 0 0; }
.round-bottom { border-radius:0 0 3px 3px; }
.round-left { border-radius:3px 0 0 3px; }
.round-right { border-radius:0 3px 3px 0; }
 
/* Columns
------------------------------------------------------- */
.grid {
  max-width:1100px;
  margin:0 auto;
  }
 
.col0    { float:left; width:04.1666%; }
.col1    { float:left; width:08.3333%; }
.col2    { float:left; width:16.6666%; }
.col3    { float:left; width:25.0000%; }
.col4    { float:left; width:33.3333%; }
.col5    { float:left; width:41.6666%; }
.col6    { float:left; width:50.0000%; }
.col7    { float:left; width:58.3333%; }
.col8    { float:left; width:66.6666%; }
.col9    { float:left; width:75.0000%; }
.col10   { float:left; width:83.3333%; }
.col11   { float:left; width:91.6666%; }
.col12   { width:100%; }
 
.margin0  { margin-left:04.1666%; }
.margin1  { margin-left:08.3333%; }
.margin2  { margin-left:16.6666%; }
.margin3  { margin-left:25.0000%; }
.margin4  { margin-left:33.3333%; }
.margin5  { margin-left:41.6666%; }
.margin6  { margin-left:50.0000%; }
.margin7  { margin-left:58.3333%; }
.margin8  { margin-left:66.6666%; }
.margin9  { margin-left:75.0000%; }
.margin10 { margin-left:83.3333%; }
.margin11 { margin-left:91.6666%; }
.margin12 { margin-left:100.0000%; }
 
/* reverse margins on right-floated elements */
.margin0r  { margin-right:04.1666%; }
.margin1r  { margin-right:08.3333%; }
.margin2r  { margin-right:16.6666%; }
.margin3r  { margin-right:25.0000%; }
.margin4r  { margin-right:33.3333%; }
.margin5r  { margin-right:41.6666%; }
.margin6r  { margin-right:50.0000%; }
.margin7r  { margin-right:58.3333%; }
.margin8r  { margin-right:66.6666%; }
.margin9r  { margin-right:75.0000%; }
.margin10r { margin-right:83.3333%; }
.margin11r { margin-right:91.6666%; }
.margin12r { margin-right:100.0000%; }
 
/* Padding
------------------------------------------------------- */
.pad1    { padding:10px; }
.pad2    { padding:20px; }
.pad4    { padding:40px; }
 
.pad1x { padding-left: 10px; padding-right: 10px;}
.pad2x { padding-left: 20px; padding-right: 20px;}
.pad4x { padding-left: 40px; padding-right: 40px;}
 
.pad1y { padding-top: 10px; padding-bottom: 10px;}
.pad2y { padding-top: 20px; padding-bottom: 20px;}
.pad4y { padding-top: 40px; padding-bottom: 40px;}
 
/* Deprecate these */
.pad1y2x { padding:10px 20px; }
.pad2y1x { padding:20px 10px; }
.pad2y4x { padding: 20px 40px; }
.pad4y2x { padding:40px 20px; }
.pad1y4x { padding:10px 40px; }
.pad8y4x { padding:80px 40px; }
.pad4c   { padding:40px; }
 
/* Keylines
------------------------------------------------------- */
.keyline-all    { border:1px solid rgba(0,0,0,0.10); }
.keyline-top    { border-top:1px solid rgba(0,0,0,0.10); }
.keyline-right  { border-right:1px solid rgba(0,0,0,0.10); }
.keyline-bottom { border-bottom:1px solid rgba(0,0,0,0.10); }
.keyline-left   { border-left:1px solid rgba(0,0,0,0.10); }
 
.dark .keyline-all    { border:1px solid rgba(255,255,255,0.25); }
.dark .keyline-top    { border-top:1px solid rgba(255,255,255,0.25); }
.dark .keyline-right  { border-right:1px solid rgba(255,255,255,0.25); }
.dark .keyline-bottom { border-bottom:1px solid rgba(255,255,255,0.25); }
.dark .keyline-left   { border-left:1px solid rgba(255,255,255,0.25); }
 
/* Components: Dropdown Menu
------------------------------------------------------- */
.dropdown {
  position:relative;
  }
  .dropdown ul {
    position:absolute;
    width:100%;
    top:100%;
    z-index:0;
    overflow:hidden;
    max-height:0;
    transition:all .2s;
    border-radius:0 0 3px 3px;
    }
    .dropdown:hover ul {
      max-height:100%;
      }
    .dropdown ul li a {
      display:block;
      height:40px;
      line-height:40px;
      }
 
/* Components: Menu Tabs
------------------------------------------------------- */
.tabs {
  border-bottom:1px solid #ddd;
  }
  .dark .tabs {
    border-color:rgba(255,255,255,0.1);
    }
  .tabs li {
    float:left;
    }
    .tabs li a {
      display:block;
      }
 
/* Components: Navigations
------------------------------------------------------- */
 
/* Vertical */
nav.v li a,
nav.v > *  { display:block; }
 
nav.v a {
  margin-right: 0;
  color:rgba(0,0,0,0.75);
  }
 
nav.v a:hover { background:rgba(0,0,0,0.05); }
 
nav.v a.active,
nav.v a.active:hover { background:rgba(0,0,0,0.25); }
 
nav.v a.active.keyline-bottom { box-shadow:0 -1px 0 0 rgba(0,0,0,0.25); }
nav.v a.active.keyline-top    { box-shadow:0 11px 0 0 rgba(0,0,0,0.25); }
 
.dark nav.v a { color:#fff; }
 
/* UI: Labels
------------------------------------------------------- */
.fixed-label {
  position:absolute;
  top:-1px;
  padding:5px 10px;
  }
.fixed-label.label-right {
  right:0;
  }
 
/* UI: Notifications
------------------------------------------------------- */
.note {
  background:#f0f8fc;
  padding:20px;
  margin-bottom:20px;
  }
  .note.error   { background:#ee8a65; }
  .note.warning { background:#f1f075; }
 
/* Fills */
.fill-gray,
.fill-grey        { background:#eee; }
.fill-white       { background:#fff; }
.fill-light       { background:#f8f8f8; }
.fill-blue        { background:#3887be; }
.fill-denim       { background:#3c4e5a; }
.fill-navy        { background:#28353d; }
.fill-navy-dark   { background:#222B30; }
.fill-purple      { background:#8a8acb; }
.fill-green       { background:#b5d378; }
 
/* spaceship prep */
.fill-darken0 { background:rgba(0,0,0,0.05); }
.fill-darken1 { background:rgba(0,0,0,0.25); }
.fill-darken2 { background:rgba(0,0,0,0.50); }
.fill-darken3 { background:rgba(0,0,0,0.75); }
 
.invisible {
  width:1px;
  height:1px;
  margin:-1px 0 0 -1px;
  text-indent:-999em;
  overflow:hidden;
  }
 
.hide-text {
  font:0/0 a;
  color:transparent!important;
  text-shadow:none!important;
  border:0;
  }
 
.branding {
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
  z-index:10;
  }
 
.mb-logo,
.branding .logo {
  background:transparent url(img/base.png) no-repeat 0px -20px;
  display:inline-block;
  vertical-align:middle;
  height:60px;
  width:160px;
  text-indent:-999em;
  overflow:hidden;
  }
  .mb-logo.white { background-position:0px -90px; }
  .mb-logo.small {
    width:70px;
    height:20px;
    background-position:-80px 0px;
    }
 
.branding .menu {
  display:block;
  padding-top: 10px;
  }
 
.branding .menu li a {
  float: left;
  width:25%;
  font-size:15px;
  line-height:20px;
  height: 40px;
  position:relative;
  display:block;
  text-align:center;
  white-space:nowrap;
  position:relative;
  z-index:0;
  padding:10px 5px;
  border-radius:3px;
  }
 
.branding .menu .active a {
  z-index:1;
  color: #3bb2d0;
  background:#f8f8f8;
  }
.branding .menu .plans a {
  color:#8a8acb;
  }
.branding .menu .plans a:hover,
.branding .menu .plans.active a {
  color:#bd93e5;
  }
 
/* ### Auth login link ### */
.auth {
  position:absolute;
  z-index:1000;
  right: 0;
  top:20px;
  line-height:20px;
  font-size:12px;
  white-space:nowrap;
  transition:right 100ms;
  -webkit-transition:right 100ms;
  }
 
/* legacy support, markup is generated elsewhere */
.auth,
.auth .cell3 { width:25%; }
.auth .cell6 { width:50%; }
 
.auth .minibutton {
  float: left;
  position: relative;
  display: block;
  text-align:center;
  background:#3c4e5a;
  color:#fff;
  overflow:visible;
  border-right:1px solid #28343d;
  padding:10px;
  height:40px;
  }
 
.auth .minibutton.help {
  text-indent: -9999px;
  overflow: hidden;
}
 
.auth > .minibutton:first-child {
  border-radius:3px 0 0 3px;
}
 
.auth > .minibutton:last-child {
  border-right:0;
}
 
.auth .signup,
.auth .login {
  width: 37.5%;
  float: left;
}
 
.auth .minibutton:hover {
  background: #435a66;
  cursor: pointer;
}
 
.auth .dropdown.active {
  background: #476674;
}
 
.auth .dropdown .dropdown-link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
 
.auth .dropdown .links {
  display:none;
  position:absolute;
  top:50px;
  width: 300%;
  left:-100%;
  border:10px solid #fff;
  border-radius:3px;
  box-shadow: rgba(0,0,0,0.05) 0px 0px 0px 5px;
  }
.auth .dropdown.active .links { display:block; }
 
.auth .dropdown .links:after {
  width:0;
  height:0;
  display:block;
  content:'';
  border-top:8px solid transparent;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-bottom:8px solid #fff;
  position:absolute;
  top:-26px;
  left:47.5%;
  }
 
.auth .dropdown .links a {
  float:none;
  color: #394e5a;
  border-width: 0;
  display:block;
  background:#f8f8f8;
  margin:0;
  padding:5px 10px;
  border-bottom:1px solid #fff;
  text-align:left;
  }
 
.auth .dropdown .links a:hover {
  background:#ecf5fa;
  color: #394e5a;
  }
 
/* ### MapBox minibranding logo ### */
.auth .minibrand {
  background:transparent url(img/base.png) no-repeat -240px -160px;
  display:inline-block;
  width:65px; height:20px;
  text-indent:-999px;
  overflow:hidden;
  }
 
@media only screen and (max-width: 770px) {
  .auth .minibutton.signup .icon,
  .auth .minibutton.login .icon,
  .auth .minibutton .icon.home  {
    display:none;
  }
}
 
@media only screen and (max-width: 640px) {
  .branding {
    padding:50px 10px 10px 10px;
    }
  .branding .logo {
    margin:0 auto 10px;
    display:block;
    }
  .branding .menu a  {
    width: 25%;
    }
  .auth {
    width: 100%;
    top: 0;
    right:0;
    left:0;
    }
}
 
/* Styles for mini nav on mapbox.com */
.auth .minibutton {
  background:#f8f8f8;
  color:#394e5a;
  border-right-color:#fff;
  border-radius:0!important;
  }
  .auth .minibutton:hover { background-color:#ecf5fa }
  .auth .minibutton.col6 { width: 50%;}
  .auth .minibutton.col9 { width: 37.5%;}
 
.auth div.dropdown a.small { width:100%; padding:5px; }
.auth.anon a span.icon {
  display:inline-block;
  margin:0;
  }
  .minibrand .auth.anon a { min-width:100%; }
 
/* ### Footer ### */
.footer .links a {
  font-weight:bold;
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  }
.footer .blogposts .links a { font-weight:normal; }
.footer .links .date {
  display:inline-block;
  margin-right:20px;
  }
 
/* Footer: Mailchimp Sign up form
------------------------------------------------------- */
.mc-field-group {
  width:150px;
  white-space:nowrap;
  border-radius:3px;
  position:relative;
  margin-top: 20px;
  }
.mc-field-group .field-wrapper,
.mc-field-group .button { float:left; }
.mc-field-group .field-wrapper,
.mc-field-group input[type=text] {
  width:110px;
  height:40px;
  }
.mc-field-group label.error {
  margin:5px;
  font-size:10px;
  line-height:10px;
  }
.mc-field-group .response { margin-top: 10px; }
 
.mc-field-group .button:empty,
.mc-field-group .button {
  background-image:url(img/icon-ffffff.png);
  background-repeat:no-repeat;
  background-position:-1240px 0px;
  display:inline-block;
  width:40px;
  height:40px;
  min-width:20px;
  padding:0;
  margin:0 0 0 -3px;
  border-radius:0 3px 3px 0;
  box-shadow:none;
  border:10px solid #3887BE;
  }
  .mc-field-group .button:hover {
    background-color:#3bb2d0;
    border-color:#3bb2d0;
    }
 
.footer .button.twitter,
.footer .button.contact {
  display:block;
  text-align:center;
  width:150px;
  margin-bottom:20px;
  }
 
@media only screen and (max-width: 770px) {
  .footer .col5.blogposts { width: 100%; max-width: 100%; border-top: 1px solid #ddd; }
  .footer .col3, .footer .col2 { width: 33.3333%; }
  }
 
@media only screen and (max-width: 640px) {
  .footer .col3 { width:100%; border-bottom: 1px solid #ddd; }
  .footer .col2 { width:50%; }
  .footer .col3 * { margin-left: auto; margin-right: auto; text-align: center;}
  .footer .blogposts { width:100%; }
  .footer .col2 .links:last-child { margin-bottom: 0;}
  }
 
/* ### Box: pager ### */
.pager-box a {
  background:#3C4E5A;
  border-right: 1px solid #28353d;
  padding:20px;
  height:60px;
  margin:0px;
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:0;
  }
  .pager-box a.active,
  .pager-box a.active:hover   { background-color:#476674; }
  .pager-box a:hover          { background-color:#435A66; }
  .pager-box li:last-child a  { border-right:0; }
 
@media only screen and (max-width: 640px) {
  .pager-box a {
    padding: 10px;
    height: 40px;
  }
  .pager-box a:first-child {
    margin-top: 0;
  }
  .pager-box .col2 {
    width: 20%;
  }
  .pager-box .col3 {
    width: 25%;
  }
}
 
/* ### Checklist styles ### */
.prose .checklist,
.prose .checklist > * { margin-left:0; }
.note .checklist      { margin-bottom:0; }
 
.checklist li {
  padding-left:30px;
  list-style:none;
  position:relative;
  margin:0!important;
  list-style:none!important;
  }
.checklist li > * { margin-bottom:0!important; }
.checklist li:after {
  background:transparent url(img/base.png) -40px 0px no-repeat;
  content:'';
  display:block;
  position:absolute;
  top:0; left:0;
  width:20px; height:20px;
  }
.checklist li.check:after { background-position:0px 0px; }
 
/* Pygments Syntax Highlighting
------------------------------------------------------- */
pre .hll  { background-color:#ffffcc }
 
/* No Styling, Just Default:
 
  pre .nx, Normal Text
  pre .ni  Name.Entity
  pre .nf Name.Entity
  pre .no Name.Constant
*/
 
/* Comments */
pre .o,   /* Operator */
pre .c,
pre .c1,
pre .cp,
pre .cm   { color:#999; font-style:italic; }
pre .err  { color:#F00000; background-color:#F0A0A0 } /* Error */
 
pre .k      { color:#404040; font-weight:bold; } /* Keyword */
pre .css .k { font-weight:normal; }
 
pre .cs   { color:#404040; font-style:italic; } /* Comment.Special */
pre .gd   { color:#A00000; } /* Generic.Deleted */
pre .ge   { font-style:italic } /* Generic.Emph */
pre .gs   { font-weight:bold; } /* Generic.Strong */
pre .gr   { color:#FF0000; } /* Generic.Error */
pre .gh   { color:#000080; } /* Generic.Heading */
pre .gi   { color:#00A000; } /* Generic.Inserted */
pre .go   { color:#808080; } /* Generic.Output */
pre .gp   { color:#c65d09; } /* Generic.Prompt */
pre .gu   { color:#800080; } /* Generic.Subheading */
pre .gt   { color:#0040D0; } /* Generic.Traceback */
pre .kc   { color:#D24400; } /* Keyword.Constant */
 
/* Keyword.Declaration
 * Keyword.Namespace
 * Keyword.Reserved */
pre .kd,
pre .kn,
pre .kr,
pre .nt   { color:#0B5A91; } /* Name.Tag */
 
/* Literal.Number */
pre .mh,
pre .mo,
pre .il,
pre .mi,
pre .kt,
pre .mf,
pre .nl,                     /* Name.Label */
pre .na,                     /* Name.Attribute */
pre .m    { color:#0C9DC2; } /* Keyword.Type */
pre .kp   { color:#0080f0; } /* Keyword.Pseudo */
 
pre .nc      { color:#DF6637; } /* Name.Class */
pre .css .nc { color:#75A21C; }
 
pre .nd   { color:#505050; } /* Name.Decorator */
pre .ne   { color:#F00000; } /* Name.Exception */
 
pre .nn   { color:#0e84b5; } /* Name.Namespace */
 
pre .nv   { color:#003060; } /* Name.Variable */
pre .ow   { color:#404040; } /* Operator.Word */
pre .w    { color:#bbbbbb; } /* Text.Whitespace */
pre .sc   { color:#8080F0; } /* Literal.String.Char */
pre .sd   { color:#D04020; } /* Literal.String.Doc */
 
/* Name.Builtin / Name.Builtin.Pseudo */
pre .bp,
pre .nb   { color:#007020; }
 
/* Literal.String */
pre .s,
pre .sh,
pre .sb,
pre .s1,
pre .sr,
pre .se   { color:#75A21C; }
 
pre .si   { background-color:#eee; } /* Literal.String.Interpol */
pre .p    { color:#444444; } /* Normal Text */
pre .ss   { color:#f0c080; } /* Literal.String.Symbol */
pre .vc   { color:#c0c0f0; } /* Name.Variable.Class */
pre .vg   { color:#f08040; } /* Name.Variable.Global */
pre .vi   { color:#a0a0f0; } /* Name.Variable.Instance */
 
/* CSS Animations/Transitions
-------------------------------------------------- */
.trigger { -webkit-transform:translate3d(0,0,0); }
.animate { transition:all .2s; }
 
.offcanvas-top    { -webkit-transform:translateY(-100%); }
.offcanvas-right  { -webkit-transform:translateX(100%);  }
.offcanvas-bottom { -webkit-transform:translateY(100%);  }
.offcanvas-left   { -webkit-transform:translateX(-100%); }
 
.offcanvas-top:target,
.offcanvas-bottom:target { -webkit-transform:translateY(0);  }
 
.offcanvas-left:target,
.offcanvas-right:target { -webkit-transform:translateX(0);  }
 
.button.animate {
  transition: all .2s, background .1s, border-color .1s;
  }
 
/* Staging animations on child elements with parents
 * that have the class of .hide and are toggled
 * on and off */
.step-2 { transition:all .2s .2s; }
.step-3 { transition:all .2s .4s; }
.step-4 { transition:all .2s .6s; }
 
.hide .step-2,
.hide .step-3,
.hide .step-4 {
  -webkit-transform:translateY(20px);
  }
 
/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
 
/* Additional Utility Classes
------------------------------------------------------- */
.fr               { float:right; }
.fl               { float:left; }
.dot              { border-radius:50%; }
.quiet            { color:#7f7f7f; color: rgba(0,0,0,.5); }
.dark .quiet      { color: #7f7f7f; color: rgba(255,255,255,.5);}
.center           { text-align:center; }
.contain          { position:relative; }
.clip             { overflow:hidden; }
.hidden           { display:none; }
.text-right       { text-align:right; }
.space > *       { margin-right:5px; }
.space-bottom    { margin-bottom: 20px;}
 
img.inline,
.inline           { display:inline-block; }
 
.truncate {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  }
 
/* Loading overlay
------------------------------------------------------- */
.loading:after,
.loading:before {
  content:'';
  display:block;
  position:absolute;
  z-index:10;
  }
.loading:before {
  background:rgba(128,128,128,0.25);
  left:0;
  top:0;
  width:100%;
  height:100%;
  }
.loading:after {
  background:#444 url(spinner.gif) 50% 50% no-repeat;
  left:50%;
  top:50%;
  margin:-20px 0 0 -20px;
  width:40px;
  height:40px;
  border-radius:50%;
  opacity:0.25;
  }
 
/* Tablet Layout
------------------------------------------------------- */
@media only screen and (max-width:770px) {
  .hide-tablet { display:none; }
  .show-tablet { display:block; }
  }
 
/* Mobile Layout
------------------------------------------------------- */
@media only screen and (max-width:640px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 { width:100%; max-width:100%; }
  .margin0,
  .margin1,
  .margin2,
  .margin3,
  .margin4,
  .margin5,
  .margin6,
  .margin7,
  .margin8,
  .margin9,
  .margin10,
  .margin11,
  .margin12                 { margin-left:0; }
  .pad4c                    { padding:0; }
  .pad4,
  .pad4x                    { padding-left:20px; padding-right:20px; }
  .pad8                     { padding:40px 20px; }
  .hide-mobile              { display:none; }
  .show-mobile              { display:block; }
  .pill                     { margin-top:20px; }
  .pill .button:first-child,
  .pill .button:last-child  { border-radius:0; border:none; }
  }
 
/* Retina Screens @2x icons
------------------------------------------------------- */
@media
  only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
  .checklist li:after,
  .mb-logo,
  .branding .logo,
  .auth .minibrand {
    background-image:url(img/base@2x.png);
    background-size:160px 160px;
  }
  .doc h1[id]:before,
  .doc h2[id]:before,
  .doc h3[id]:before,
  .doc h4[id]:before,
  .rcon:after,
  .icon:before {
    background-image:url(img/icon-808080@2x.png);
    background-size:2800px 60px;
  }
  .dark .rcon:after,
  .dark .icon:before,
  .button.rcon:after,
  .button.icon:before {
    background-image:url(img/icon-ffffff@2x.png);
    background-size:2800px 60px;
  }
  a.icon:not(.button):before,
  a.rcon:not(.button):after {
    background-image:url(img/icon-3887be@2x.png);
    background-size:2800px 60px;
  }
  .mc-field-group .button:empty,
  .mc-field-group .button {
    background-image:url(img/icon-ffffff@2x.png);
    background-size:2800px 60px;
  }
}
 
/* Print
------------------------------------------------------- */
@media print {
  p { font-size: 12px;}
  .pad4 { padding:20px;}
  .pad2y,
  .pad4x { padding-left:10px; padding-right:10px;}
  .pad4y { padding:10px 0;}
  .feature-list { padding-bottom: 20px;}
  .branding,
  .footer,
  .footer-copyright a,
  .noprint { display: none;}
  }

/*CUSTOM*/
.button.icon:empty {
  padding: 6px;
}
button, .button, input[type=button], input[type=submit] {
  height: 30px;
  padding: 6px 15px;
  margin: 2px 0;
}

@media only screen and (max-width:760px) {
  .header {
    float:none;
    text-align: center;
  }
  .main-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0!important;
  }
}
#map { position:relative; top:0; bottom:0; width:100%; height: 300px }